/*
============================================================ 
Root
============================================================ 
*/

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: #70308c;
  --clr-primary-2: #450a5e;
  --clr-primary-3: #874ba1;
  --clr-primary-4: #ab78c0;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
  font-size: 0.875em;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

/*
============================================================ 
Reset
============================================================ 
  */
html {
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/*
============================================================ 
Typography
============================================================ 
*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  text-align: left;
  color: var(--clr-grey-1);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2rem;
  line-height: 1.1;
  margin: 0rem;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 0rem;
  color: var(--clr-grey-3);
  /* font-size: 1.6rem; */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/*
============================================================ 
Buttons
============================================================ 
*/

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/*
============================================================ 
Container
============================================================ 
*/

.container {
  padding: 2rem 0;
}

.container-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1080px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-grey {
  background: var(--clr-grey-10);
}
/* page links */

/*
============================================================ 
Social Links
============================================================ 
*/
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

/*
============================================================ 
Navbar
============================================================ 
*/

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  margin: 1em auto;
}

.logo {
  width: 80px;
  cursor: pointer;
  margin-right: 10px;
}

.logo + h4 {
  margin-right: auto;
  font-weight: normal;
  /* color: var(--clr-primary-2); */
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 1em;
}

.nav-links li {
  transition: all 0.3s ease 0s;
}

.nav-links li:hover {
  color: var(--clr-primary-4);
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.nav-item span {
  margin-right: 0.5em;
  padding-top: 0.4em;
}

button {
  background-color: black;
  color: white;
  padding: 10px 25px;
  margin-left: 18px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--clr-primary-4);
}

/*
============================================================ 
Footer
============================================================ 
*/
.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--clr-grey-9);
  padding: 1rem;
  margin-top: auto;
}

/*
============================================================ 
Events
============================================================ 
*/

.event-card {
  display: flex;
  flex-direction: column;
  width: 90%;

  margin: 2rem auto;
  border: 1px solid var(--clr-grey-1);
  border-radius: 0.5em;
}

.main-photo {
  max-height: 40vh;
  margin: 1rem auto;
}

.event-info-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;

  /* max-width: 100%; */
}

.event-info-container > h2 {
  color: var(--clr-primary-1);
  margin-bottom: 0.5em;
}

.event-img {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.event-info-container span {
  display: inline-block;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid var(--clr-grey-9);
  padding: 0.2em 0.5em;
  margin: 1em auto 1em 0;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 0.8rem;
  font-weight: 300;
}

.event-author {
  font-size: 0.8rem;
  font-weight: bold;
}

.event-author-photo {
  width: 35px;
}

.event-date {
  font-size: 0.8rem;
}

.event-description img {
  display: block;
  max-width: 100%;

  margin: 2em auto;
  padding: 0.8em;
  /* border: 1px solid grey; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .event-card {
    flex-direction: row;
    max-width: 700px;
    max-height: 250px;
  }
  .event-img {
    margin-right: 1rem;
    min-width: 50%;
    overflow: hidden;
  }

  .event-description img {
    max-height: 40vh;
  }
}
